.about-page {
  min-height: 100vh;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-wrapper {
  background: white;
  width: 100%;
  max-width: 1100px;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.about-heading {
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 2.2rem;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
  

}

.about-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
}

.about-text {
  flex: 1;
}

.about-intro {
  margin-bottom: 20px;
  font-size: 1.05rem;
  color: #555;
}

.about-section {
  margin-bottom: 20px;
}

.about-section h3 {
  margin-bottom: 10px;
  color: #070707;
}

.about-section ul {
  padding-left: 20px;
}

.about-section li {
  margin-bottom: 6px;
}

.about-footer {
  text-align: center;
  margin-top: 40px;
  font-size: 0.9rem;
  color: #777;
}

/* Responsive */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }
}
